.cadre1 {
  background-color: #F0C77E;
  height: 100vh;
  width: 100%;
  margin-top: 0;
}

.cadre2 {
  background-color: #E5A631;
  height: 1000px;
  width: 100%;
}

/* Responsivité pour les tablettes */
@media (max-width: 768px) {
  .svgContainer {
    width: 70%; /* Augmente la largeur du SVG pour qu'il prenne plus de place sur tablette */
  }
}

/* Responsivité pour les mobiles */
@media (max-width: 480px) {
  .cadre1 {
    height: 50vh; /* Réduit la hauteur du cadre rouge sur mobile */
  }

  .svgContainer {
    width: 90%; /* Augmente la largeur du SVG pour qu'il soit plus visible sur mobile */
  }
}
